body {
  text-align: center;
  font-family: Arial;
}
.skills {
  font-family: Arial;
}
.skills .fa {
  width: 30px;
}
.navigation {
  display: inline-block;
  text-align: left;
}
.navigation ul {
  list-style-type: none;
  padding: 0;
}
.navigation li {
  margin-bottom: 8px;
  display: inline;
}
.button h3 {
  margin: 5px 11px;
}
.button {
  background-color: #AAA; /* Green */
  font-family: Arial;
  border: none;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  box-shadow: 1px 1px #444;
  transition: 0.2s ease;
}
.button:hover {
  background-color: black;
}
.title.subtext {
  color:#AAA;
  margin-top:8px;
  margin-bottom:50px;
  font-family: monospace;
}
.title {
  text-align: center;
  margin-bottom: 0px;
}
.title span {
  color: white;
  background: #AAA;
  border-radius: 15px;
  padding: 5px 80px;
  font-family: Arial;
}
footer {
  bottom: 10px;
  position: fixed;
}
#copyright {
  float: left;
}
.social-media {
  right: 8px;
  position: fixed;
  font-size: 40;
}
.social-media a {
  transition: 0.2s ease;
  color: #AAA;
}
.social-media a:hover {
  color: black;
}
